<div class="container pt-3 session">
  <h2 class="title-session">Edit <%= resource_name.to_s.humanize %></h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :username,
                  required: true,
                  minlength: "6",
                  placeholder: "Type your Username",
                  input_html: { autocomplete: "username" } %>
      <%= f.input :password,
                  hint: "leave it blank if you don't want to change it",
                  required: false,
                  minlength: "6",
                  placeholder: "Type your new password",
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: false,
                  minlength: "6",
                  placeholder: "Repeat your new password",
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :current_password,
                  placeholder: "Type your current password",
                  hint: "we need your current password to confirm your changes",
                  required: true,
                  input_html: { autocomplete: "current-password" } %>
    </div>

    <div class="form-actions submit-button d-grid gap-2">
      <%= f.button :submit, "Update", class: "btn btn-success p-2 mt-4 rounded" %>
    </div>
  <% end %>

  <h3>Cancel my account</h3>
  <div class="links">
  <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
  <%= link_to "Back", :back %>
  </div>
</div>
