<div class="map"></div>
<div class="container">
  <div class="container d-flex justify-content-center flex-wrap">
    <% @spaces.each do |space| %>
      <%= link_to space_path(space), class: "space-link" do %>
        <div class="card squared-card">
          <div class="card-image">
            <%= cl_image_tag space.photos[0].key, class: %i[card-img-top] %>
          </div>
          <div class="space-info">
            <h5 class="space-name">
              <%= space.name %>
            </h5>
            <p class="space-owner">
              hosted by: <%= space.user.username %>
            </p>
            <p class="space-cost">
              <strong>
                <%= space.daily_cost %>
              </strong>
                <i class="fa-solid fa-coins"></i> / day
            </p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<button class="btn btn-success rounded-circle button-map"><i class="fa-solid fa-map-location-dot"></i></button>
<%= link_to :back do %>
  <button class="btn btn-success rounded-circle button-back"><i class="fa-solid fa-arrow-left"></i></i></button>
<% end %>
<%= link_to new_space_path do %>
  <button class="btn btn-success rounded-circle button-new"><i class="fa-solid fa-plus"></i></button>
<% end %>
