<div class="map"></div>
<div class="container">
  <div class="container d-flex justify-content-center flex-wrap">
    <% @spaces.each do |space| %>
      <div class="card m-2 card-spaces">
        <%# space.photos.each do |photo| %>
          <%#= cl_image_tag photo.key, class: %i[card-img-top]  %>
        <%# end %>
          <%= cl_image_tag space.photos[0].key, class: %i[card-img-top]  %>
        <div class="card-body text-dark">
          <h5 class="card-title">
            <%= space.name %>
          </h5>
          <p class="card-text">
            offered by: <%= space.user.username %>
          </p>
          <p class="card-text description-space">
            <%= space.description %>
          </p>
          <%= link_to space_path(space) do %>
            <p class="btn btn-primary card-space-button">See</p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<button class="btn btn-success rounded-circle button-map"><i class="fa-solid fa-map-location-dot"></i></button>
<%= link_to :back do %>
  <button class="btn btn-success rounded-circle button-back"><i class="fa-solid fa-arrow-left"></i></i></button>
<% end %>
<%= link_to new_space_path do %>
  <button class="btn btn-success rounded-circle button-new"><i class="fa-solid fa-plus"></i></button>
<% end %>
