<% content_for :meta_title, "#{@space.name} is on #{DEFAULT_META["meta_product_name"]}" %>
<% content_for :meta_description, @space.description %>
<% content_for :meta_image, @space.photos.first ? cl_image_path(@space.photos.first.url) : "https://images.unsplash.com/photo-1492097631548-189753426f9c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1760&q=80" %>

<div class="content-container mx-auto">
  <div class="container mt-4 space-page">
    <div class="container">
      <% if @space.photos[0] == nil %>
        <div class="space-image">
          <img src="https://images.unsplash.com/photo-1492097631548-189753426f9c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1760&q=80" class="d-block w-100" alt="...">
        </div>
      <% elsif @space.photos.count == 1 %>
        <div class="space-image">
          <%= cl_image_tag @space.photos[0].key %>
        </div>
      <% elsif @space.photos.count > 1 %>
        <div id="carouselIndicator" class="carousel slide space-image" data-bs-ride="true">
          <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselIndicator" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselIndicator" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselIndicator" data-bs-slide-to="2" aria-label="Slide 3"></button>
          </div>
          <div class="carousel-inner">
            <% @space.photos.each do |photo| %>
              <% if @space.photos.index(photo) == 0 %>
                <div class="carousel-item active">
                  <%= cl_image_tag photo.key %>
                </div>
              <% else %>
                <div class="carousel-item">
                  <%= cl_image_tag photo.key %>
                </div>
              <% end %>
            <% end %>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicator" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicator" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      <% end %>
    </div>
    <div class="container mt-4">
      <h1 class="space-name">
        <%= @space.name %>
      </h1>
      <h3 class="owner-name">
        of <%= @space.user.username %>
      </h3>
      <br>
      <h5 class="feature-title">Description:</h5>
      <p class="feature-description">
        <%= @space.description %>
      </p>
      <h5 class="feature-title">Cost:</h5>
      <p class="feature-description">
        <%= @space.daily_cost %> <i class="fa-solid fa-coins"></i>/day
      </p>
      <% if @space.user != current_user %>
        <%= link_to new_space_booking_path(@space) do %>
          <button class="btn btn-success prim-button mt-2 mb-5">Book Space</button>
        <% end %>
      <% else %>
        <%= link_to space_path(@space), data: {turbo_method: :delete, turbo_confirm: "Do you confirm the removal of your space from Arting?"} do %>
          <button class="btn btn-success sec-button ps-3 pe-3">Delete</button>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
