<div class="container mt-3 content-container">
  <div class="container">
    <% if @space.photos[0] == nil %>
      <div class="space-image">
        <img src="https://images.unsplash.com/photo-1492097631548-189753426f9c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1760&q=80" class="d-block w-100" alt="...">
      </div>
    <% elsif @space.photos.count == 1 %>
      <div class="space-image">
        <%= cl_image_tag @space.photos[0].key %>
      </div>
    <% elsif @space.photos.count > 1 %>
      <div id="carouselIndicator" class="carousel slide space-image" data-bs-ride="true">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselIndicator" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselIndicator" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselIndicator" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <% @space.photos.each do |photo| %>
            <% if @space.photos.index(photo) == 0 %>
              <div class="carousel-item active">
                <%= cl_image_tag photo.key %>
              </div>
            <% else %>
              <div class="carousel-item">
                <%= cl_image_tag photo.key %>
              </div>
            <% end %>
          <% end %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselIndicator" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselIndicator" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    <% end %>
  </div>

  <div class="container mt-4">
    <h3>
      <%= @space.name %>
    </h3>
    <p>
      Offered by <%= @space.user.username %>
    </p>
    <br>
    <h5>Description:</h5>
    <p>
    <%= @space.description %>
    </p>
    <h5>Cost:</h5>
    <p>
    <%= @space.daily_cost %> Credits/day
    </p>
    <% if @space.user != current_user %>
      <%= link_to new_space_booking_path(@space) do %>
          <button class="btn btn-success rounded button-booking mt-2">Book Resi</button>
      <% end %>
    <% end %>
  </div>
</div>
