<div class="container">
  <h1>Manage your spaces</h1>
  <br>
  <% current_user.spaces.each do |space| %>
    <h5>
      <%= space.name %>
      <%= link_to "Remove Resi", space_path(space), data: {turbo_method: :delete}, class: "btn btn-secondary p-2 ps-5 pe-5 mt-4 rounded" %>
    </h5>
  <% end %>
  <% @bookings.each do | booking | %>
    <p>
      <%= booking.space.name %>
    </p>
    <p> Booked by:
      <%= booking.user.username %>
    </p>
    <p> Offered by:
      <%= booking.space.user.username %>
    </p>
    <p> Message:
      <%= booking.message %>
    </p>
      <p>
        <%= booking.updated_at.strftime("%B %d, %Y") %>
      </p>
    <%# We could implement an AJAX req for rerendering a part of the page on click or use a disable button %>
    <div class="status"
         data-controller="status"
         data-status-booking-id-value="<%= booking.id %>" >
      <% if booking.pending? %>
        <p>
          This booking is <strong data-status-target="bookingStatus" ><%= booking.status %></strong>
        </p>
        <%= simple_form_for(booking) do |f| %>
            <%= f.input :status, as: :hidden, input_html: { value: "accepted" } %>
            <%= f.submit "Accept", class: "btn btn-success p-2 ps-5 pe-5 mt-4 rounded" %>
        <% end %>
        <%= simple_form_for(booking) do |f| %>
            <%= f.input :status, as: :hidden, input_html: { value: "declined" } %>
            <%= f.submit "Decline", class: "btn btn-success p-2 ps-5 pe-5 mt-4 rounded" %>
        <% end %>
      <% else %>
        <p>
          <%= booking.status %>
        </p>
        <%= simple_form_for(booking) do |f| %>
            <%= f.input :status, as: :hidden, input_html: { value: "pending" } %>
            <%= f.submit "Cancel Confirmation", class: "btn btn-success p-2 ps-5 pe-5 mt-4 rounded" %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
