<div class="content-container mx-auto">
  <div class="w-100 px-4">
    <h2 class="mt-4">Inquiries</h2>
    <br>
    <h5>Pending</h5>
    <br>
    <div>
      <% @bookings.each do | booking | %>
        <% if booking.pending? %>
          <div class="request-card">
            <p> Booked by:
              <%= booking.user.username %>
              <span>on <%= booking.updated_at.strftime("%B %d, %Y") %></span>
            </p>
            <p> Message:
              <%= booking.message %>
            </p>
            <%# We could implement an AJAX req for rerendering a part of the page on click or use a disable button %>
            <div class="status"
                data-controller="status"
                data-status-booking-id-value="<%= booking.id %>" >
              <% if booking.pending? %>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex">
                    <p class="my-auto" >
                      This booking is <strong data-status-target="bookingStatus" ><%= booking.status %></strong>
                    </p>
                  </div>
                  <div class="row">
                    <div class="pending-confirmation col">
                      <%= simple_form_for(booking) do |f| %>
                          <%= f.input :status, as: :hidden, input_html: { value: "accepted" } %>
                          <%= f.submit "Accept", class: "btn btn-success p-2 ps-3 pe-3 rounded" %>
                      <% end %>
                    </div>
                    <div class="pending-confirmation col">
                      <%= simple_form_for(booking) do |f| %>
                          <%= f.input :status, as: :hidden, input_html: { value: "declined" } %>
                          <%= f.submit "Decline", class: "btn btn-secondary p-2 ps-3 pe-3 rounded" %>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% else %>
                <p>
                  <%= booking.status %>
                  <span>
                    <%= simple_form_for(booking) do |f| %>
                        <%= f.input :status, as: :hidden, input_html: { value: "pending" } %>
                        <%= f.submit "Cancel Confirmation", class: "btn btn-success p-2 ps-5 pe-5 mt-4 rounded" %>
                    <% end %>
                  </span>
                </p>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <br>
    <h5>Accepted</h5>
    <br>
    <div>
      <% @bookings.each do | booking | %>
        <% if booking.accepted? %>
          <div class="request-card">
            <p> Booked by:
              <%= booking.user.username %>
              <span>on <%= booking.updated_at.strftime("%B %d, %Y") %></span>
            </p>
            <p> Message:
              <%= booking.message %>
            </p>
            <%# We could implement an AJAX req for rerendering a part of the page on click or use a disable button %>
            <div class="status"
                data-controller="status"
                data-status-booking-id-value="<%= booking.id %>" >
              <% if booking.pending? %>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex">
                    <p class="my-auto" >
                      This booking is <strong data-status-target="bookingStatus" ><%= booking.status %></strong>
                    </p>
                  </div>
                  <div class="row">
                    <div class="pending-confirmation col">
                      <%= simple_form_for(booking) do |f| %>
                          <%= f.input :status, as: :hidden, input_html: { value: "accepted" } %>
                          <%= f.submit "Accept", class: "btn btn-success p-2 ps-3 pe-3 rounded" %>
                      <% end %>
                    </div>
                    <div class="pending-confirmation col">
                      <%= simple_form_for(booking) do |f| %>
                          <%= f.input :status, as: :hidden, input_html: { value: "declined" } %>
                          <%= f.submit "Decline", class: "btn btn-secondary p-2 ps-3 pe-3 rounded" %>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% else %>
                <p>
                  <%= booking.status %>
                  <span>
                    <%= simple_form_for(booking) do |f| %>
                        <%= f.input :status, as: :hidden, input_html: { value: "pending" } %>
                        <%= f.submit "Cancel Confirmation", class: "btn btn-success p-2 ps-5 pe-5 mt-4 rounded" %>
                    <% end %>
                  </span>
                </p>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <br>
    <h5>Past</h5>
    <br>
    <div>
      <% @bookings.each do | booking | %>
        <% if booking.declined? %>
          <div class="request-card">
            <p> Booked by:
              <%= booking.user.username %>
              <span>on <%= booking.updated_at.strftime("%B %d, %Y") %></span>
            </p>
            <p> Message:
              <%= booking.message %>
            </p>
            <%# We could implement an AJAX req for rerendering a part of the page on click or use a disable button %>
            <div class="status"
                data-controller="status"
                data-status-booking-id-value="<%= booking.id %>" >
              <% if booking.pending? %>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex">
                    <p class="my-auto" >
                      This booking is <strong data-status-target="bookingStatus" ><%= booking.status %></strong>
                    </p>
                  </div>
                  <div class="row">
                    <div class="pending-confirmation col">
                      <%= simple_form_for(booking) do |f| %>
                          <%= f.input :status, as: :hidden, input_html: { value: "accepted" } %>
                          <%= f.submit "Accept", class: "btn btn-success p-2 ps-3 pe-3 rounded" %>
                      <% end %>
                    </div>
                    <div class="pending-confirmation col">
                      <%= simple_form_for(booking) do |f| %>
                          <%= f.input :status, as: :hidden, input_html: { value: "declined" } %>
                          <%= f.submit "Decline", class: "btn btn-secondary p-2 ps-3 pe-3 rounded" %>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% else %>
                <p>
                  <%= booking.status %>
                  <span>
                    <%= simple_form_for(booking) do |f| %>
                        <%= f.input :status, as: :hidden, input_html: { value: "pending" } %>
                        <%= f.submit "Cancel Confirmation", class: "btn btn-success p-2 ps-5 pe-5 mt-4 rounded" %>
                    <% end %>
                  </span>
                </p>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
      <% @bookings.each do | booking | %>
        <% if booking.end_date < DateTime.now %>
          <div class="request-card">
            <p> Booked by:
              <%= booking.user.username %>
              <span>on <%= booking.updated_at.strftime("%B %d, %Y") %></span>
            </p>
            <p> Message:
              <%= booking.message %>
            </p>
            <%# We could implement an AJAX req for rerendering a part of the page on click or use a disable button %>
            <div class="status"
                data-controller="status"
                data-status-booking-id-value="<%= booking.id %>" >
              <% if booking.pending? %>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="d-flex">
                    <p class="my-auto" >
                      This booking is <strong data-status-target="bookingStatus" ><%= booking.status %></strong>
                    </p>
                  </div>
                  <div class="row">
                    <div class="pending-confirmation col">
                      <%= simple_form_for(booking) do |f| %>
                          <%= f.input :status, as: :hidden, input_html: { value: "accepted" } %>
                          <%= f.submit "Accept", class: "btn btn-success p-2 ps-3 pe-3 rounded" %>
                      <% end %>
                    </div>
                    <div class="pending-confirmation col">
                      <%= simple_form_for(booking) do |f| %>
                          <%= f.input :status, as: :hidden, input_html: { value: "declined" } %>
                          <%= f.submit "Decline", class: "btn btn-secondary p-2 ps-3 pe-3 rounded" %>
                      <% end %>
                    </div>
                  </div>
                </div>
              <% else %>
                <p>
                  <%= booking.status %>
                  <span>
                    <%= simple_form_for(booking) do |f| %>
                        <%= f.input :status, as: :hidden, input_html: { value: "pending" } %>
                        <%= f.submit "Cancel Confirmation", class: "btn btn-success p-2 ps-5 pe-5 mt-4 rounded" %>
                    <% end %>
                  </span>
                </p>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <br>
  </div>
</div>
