<div class="container">
  <h1>Bookings</h1>
  <br>
  <h3>Your Bookings</h3>
  <div class="d-flex flex-wrap">
    <% @bookings.each do |booking| %>
      <div class="card-medium pb-3 pe-3">
        <h3>
          <%= booking.space.name %>
        </h3>
        <p>
          Booked at:
          <%= booking.updated_at.strftime("%B %d, %Y") %>
        </p>
        <p>
          Resi from:
          <%= booking.space.user.username %>
        </p>
        <p>
          Booked from:
          <%= booking.user.username %>
        </p>
        <p>
          <%= booking.start_date %> - <%= booking.end_date %>
        </p>
        <p>
          Status:
          <%= booking.status %>
        </p>
      </div>
    <% end %>
  </div>
  <h3>Booking requests</h3>
  <%= link_to "Requests",  host_index_bookings_path %>
</div>
