<div class="container">
  <%= simple_form_for [@space, @booking], data: { controller: 'flatpickr' }, url: space_bookings_path do |f| %>
    <%= f.input :message %>
    <%# Simple html Calendar Input %>
    <%# <%= f.input :start_date, as: :date, html5: true %>
    <%= f.input :start_date, as: :string, input_html: { data: { flatpickr_target: "startDate" } } %>
    <%= f.input :end_date, as: :string, input_html: { data: { flatpickr_target: "endDate" }, id: 'end_date' }  %>
    <%= f.submit "Schedule Your Journey" %>
  <% end %>
</div>
