<div class="content-container mx-auto">
  <% if @space.photos[0] == nil %>
    <div class="booking-form-image my-4">
      <img src="https://images.unsplash.com/photo-1492097631548-189753426f9c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1760&q=80" class="d-block w-100" alt="...">
    </div>
  <% else @space.photos.count == 1 %>
    <div class="booking-form-image my-4">
      <%= cl_image_tag @space.photos[0].key %>
    </div>
  <% end %>
  <div class="container px-5 mt-4 booking-form-container">
    <h1 class="form-title text-start pb-5">Send a message to <%= @space.user.username %></h1>
    <div class="booking-form-container">
      <%= simple_form_for [@space, @booking], data: { controller: 'flatpickr' }, url: space_bookings_path, validate: true do |f| %>
        <%= f.error_notification(message: @booking.errors[:msg].first) %>
        <%= f.input :message,
                    required: false,
                    minlength: "6",
                    placeholder: "Hi, I would like to stay at your ...",
                    input_html: { class: "arting-form-inputs form-textarea", rows: "3" } %>
        <%= f.input :start_date,
                    required: false,
                    placeholder: "MM-DD-YYYY",
                    as: :string,
                    input_html: { data: { flatpickr_target: "startDate" }, class: "arting-form-inputs" } %>
        <%= f.input :end_date,
                    required: false,
                    placeholder: "MM-DD-YYYY",
                    as: :string,
                    input_html: { data: { flatpickr_target: "endDate" }, id: 'end_date', class: "arting-form-inputs" }  %>
        <%= f.submit "Send booking request", class: "btn btn-success rounded prim-button my-4" %>
      <% end %>
    </div>
  </div>
</div>
