<div class="request-card">
  <div class="avatar">
    <%= cl_image_tag booking.user.photo.key %>
  </div>
  <h5>
    <%= booking.user.username.capitalize %> is asking to stay at
    <span class="text-success"><%= booking.space.name %></span>
  </h5>

  <h5 class="text-success">
    <%= booking.cost? %> credits _
    <%= booking.start_date.strftime("%e %b %y") %> -
    <%= booking.end_date.strftime("%e %b %y") %>
  </h5>

  <p>
    <%= booking.message %>
    <p class="text-muted text-end mb-0">on <%= booking.updated_at.strftime("%B %d, %Y") %></p>
  </p>
  <%# We could implement an AJAX req for rerendering a part of the page on click or use a disable button %>
  <div class="status"
      data-controller="status"
      data-status-booking-id-value="<%= booking.id %>" >
    <% if booking.pending? %>
      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex">
          <p class="my-auto" >
            This booking is <strong
            data-status-target="bookingStatus"
            class="text-info"><%= booking.status %></strong>
          </p>
        </div>
        <div class="row">
          <div class="pending-confirmation col">
            <%= simple_form_for(booking) do |f| %>
                <%= f.input :status, as: :hidden, input_html: { value: "accepted" } %>
                <%= f.submit "Accept", class: "btn btn-success p-2 ps-3 pe-3 rounded" %>
            <% end %>
          </div>
          <div class="pending-confirmation col">
            <%= simple_form_for(booking) do |f| %>
                <%= f.input :status, as: :hidden, input_html: { value: "declined" } %>
                <%= f.submit "Decline", class: "btn btn-secondary p-2 ps-3 pe-3 rounded" %>
            <% end %>
          </div>
        </div>
      </div>
    <% else %>
      <p>
        <strong class="text-success"><%= booking.status %></strong>
        <span>
          <%= simple_form_for(booking) do |f| %>
              <%= f.input :status, as: :hidden, input_html: { value: "pending" } %>
              <%= f.submit "Cancel Confirmation", class: "btn btn-success p-2 ps-5 pe-5 mt-4 rounded" %>
          <% end %>
        </span>
      </p>
    <% end %>
  </div>
</div>
