<nav class="navbar navbar-expand-lg bg-primary fixed-top navbar-arting">
  <div class="container-fluid">
    <%= link_to "arting", "/", class: "navbar-brand logo-arting" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <%= link_to "Spaces", "/spaces", class: "nav-link nav-link-text #{"active" if current_page?(spaces_path)}" %>
        </li>
        <li class="nav-item">
          <% if current_user && !current_user.bookings.nil? && current_user.bookings.count >= 1 %>
           <%= link_to "My Bookings", "/bookings", class: "nav-link nav-link-text #{"active" if current_page?(bookings_path)}" %>
          <% end %>
        </li>
        <li class="nav-item">
          <% if current_user && !current_user.spaces.nil? && current_user.spaces.count >= 1 %>
            <%= link_to "Inquiries", "/bookings/host_index", class: "nav-link nav-link-text #{"active" if current_page?(host_index_bookings_path)}" %>
          <% end %>
        </li>
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <% if current_user.photo.attached? %>
              <%= cl_image_tag current_user.photo.key, class: "navbar-avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false  %>
            <% else %>
              <%= image_tag "https://images.unsplash.com/photo-1591968743883-decc954ccce8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=735&q=80", class: "navbar-avatar dropdown-toggle", id: "navbarDropdown", data: { bs_toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
            <% end %>
            <div class="dropdown-menu dropdown-menu-end bg-primary dropdown-box" aria-labelledby="navbarDropdown">
              <%= link_to "/profile", class: "dropdown-item" do %>
                    <%= current_user.username.capitalize() %> Profile
              <% end %>
              <%= link_to "Messages", "/chatrooms", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
