<%= link_to space_path(space) do %>
  <div class="owner-card mb-4">
    <div class="card-image">
      <% if space.photos[0] %>
        <%= cl_image_tag space.photos[0].key, class: %i[card-img-top] %>
      <% end %>
    </div>
    <div class="space-info">
      <h5 class="space-name">
        <%= space.name %>
      </h5>
      <%= link_to "Remove Resi", space_path(space), data: {turbo_method: :delete}, class: "btn btn-secondary p-2 ps-5 pe-5 mt-4 rounded remove-button" %>
      <p class="space-owner">
        Host : <%= space.user.username %>
      </p>
      <p class="space-cost">
        <%= space.daily_cost %>
        <i class="fa-solid fa-coins"></i> / day
      </p>
    </div>
  </div>
<% end %>
