<div class="container pt-3 session">
  <h2 class="title-session">Log in</h2>

  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: {turbo: false}) do |f| %>
    <div class="form-inputs">
      <%= f.input :username,
                  required: true,
                  minlength: "6",
                  placeholder: "Type your Username",
                  autofocus: true,
                  input_html: { autocomplete: "username" } %>
      <%= f.input :email,
                  required: true,
                  pattern: URI::MailTo::EMAIL_REGEXP,
                  placeholder: "Type your email",
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>
      <%= f.input :password,
                  required: true,
                  minlength: "6",
                  placeholder: "Type your password",
                  input_html: { autocomplete: "current-password" } %>
      <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>

    <div class="form-actions submit-button d-grid gap-2">
      <%= f.button :submit, "Log in", class: "btn btn-success p-2 mt-4 rounded" %>
    </div>
  <% end %>
  <div class="links">
    <%= render "devise/shared/links" %>
  </div>
</div>
