<div class="container-fluid session">
  <div class="container-md mx-auto row">
    <h2 class="title-session text-start">Welcome back</h2>
    <div class="session-form col-md-6">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: {turbo: false}, validate: true) do |f| %>
        <div class="form-inputs">
          <%= f.input :username,
                      required: false,
                      minlength: "6",
                      placeholder: "Barteby",
                      autofocus: true,
                      hint: "6 characters minimum",
                      input_html: { class: "arting-form-inputs mt-3", autocomplete: "username" } %>
          <%= f.input :email,
                      required: false,
                      pattern: URI::MailTo::EMAIL_REGEXP,
                      placeholder: "Ex. barteby@mail.com",
                      autofocus: true,
                      input_html: { class: "arting-form-inputs mt-3", autocomplete: "email" } %>
          <%= f.input :password,
                      required: false,
                      minlength: "6",
                      placeholder: "******",
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { class: "arting-form-inputs mt-3", autocomplete: "current-password" } %>
          <%= f.input :remember_me,
                      as: :boolean if devise_mapping.rememberable? %>
        </div>
        <div class="form-actions submit-button d-grid gap-2">
          <%= f.button :submit, "Log in", class: "btn btn-success p-2 mt-5 rounded" %>
        </div>
      <% end %>
      <div class="links text-start">
        <%= render "devise/shared/links" %>
      </div>
    </div>
    <div class="session-pic align-self-center p-5 col-md-6">
      <% if Rails.env.production? %>
        <%= cl_image_tag("hiksgvoqk9dusacrxqfn.png", crop: "pad") %>
      <% else %>
        <%= cl_image_tag("useem4xq6ebyvhsfomob.png", crop: "pad") %>
      <% end %>
    </div>
  </div>
</div>
