<!DOCTYPE html>
<html>
  <head>
    <title>arting | Swap Creative Spaces</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="page-container">
      <%= render "shared/navbar" %>
      <%= yield %>
      <%= turbo_frame_tag :cookie_consent, src: cookies_path if session[:cookie_consent].nil? %>
    </div>
    <%= render "shared/flashes" %>
  </body>
</html>
